<StackLayout>
    <Label text="pt item list"></Label>

    <Button text="add" (tap)="addItem()"></Button>

    <ListView [items]="ptItemsSubj | async" (itemTap)="listItemTap($event)">
        <template let-item="item" let-i="index">
            <GridLayout columns="5, 50, 200, *">

                <Label col="0" [class]="getIndicatorClass(item)"></Label>

                <Image col="1" [src]="item.assignee.avatar" stretch="aspectFit"></Image>

                <StackLayout col="2">
                    <Label [text]='i + ": " + item.title'></Label>
                    <Label [text]='"estimate: " + item.estimate'></Label>
                </StackLayout>
                <Button col="3" class="btn btn-primary" text="change me" (tap)="changeMeTapped(item)"></Button>
            </GridLayout>
        </template>
    </ListView>
</StackLayout>