@import 'nativescript-theme-core/css/core.light.css';

ActionBar {
    background-color:  #3C5AFD;
    color: white;
}

.navbar_image_wrapper {
    width: 30; 
    height:30;
}

.indicator-pbi {
    background-color: green;
}

.indicator-bug {
    background-color: red;;
}

.indicator-chore {
    background-color: gray;
}

.indicator-impediment {
    background-color: orange;
}

.indicator-critical {
    color: #820101;
    background-color: #ffc9c9;
    border-width: 1;
    border-radius: 4;
    border-color: #820101;
    padding:2;
}

.indicator-high {
    color: #b27100;
    background-color: #ffe4b7;
    border-width: 1;
    border-radius: 4;
    border-color: #b27100;
    padding:2;
}

.indicator-medium {
    color: #0c6d00;
    background-color: #cfffc9;
    border-width: 1;
    border-radius: 4;
    border-color: #0c6d00;
    padding:2;
}

.indicator-low {
    color: #002b6d;
    background-color: #c1daff;
    border-width: 1;
    border-radius: 4;
    border-color: #002b6d;
    padding:2;
}

.task-wrapper {
    border-bottom-width: 1;
    border-bottom-color: #eeeeee;
    padding: 0;
    margin: 10;
}


.task-full {
    height: 30;
    width: 30;
    background-color: green;
}

.task-empty {
    height: 30;
    width: 30;
    border-color:green;
    border-width: 1;
}

.task-empty-new {
    height: 30;
    width: 30;
    border-color:gray;
    border-width: 1;
}

.input-field {
    border-bottom-width: 1;
    border-bottom-color: gray;
}