@import 'nativescript-theme-core/css/core.light.css';
@import url("~/platform.css");

Page {
    background-color: white;
}

ActionBar {
    background-color:  #4b5833;
    color: white;
}

TextView {
    font-size: 14;
}


.form-field-col {
    vertical-align: middle;
    horizontal-align: left;
}

.modal-wrapper {
    background-color: white;
    margin-top: 20;
}

.slide-out-img {
    margin: 0;
}

.slide-out-btn {
    color: #e4ba4e;
    font-size: 19;
    height: 44;
    text-align: left;
    horizontal-align: stretch;
    margin: 0 12;
    background-color: #333333;
}

.slide-out-btn-selected {
    color: white;
    font-size: 19;
    height: 44;
    text-align: left;
    horizontal-align: stretch;
    margin: 0 12;
    background-color: #333333;
}

.navbar_image_wrapper {
    width: 30; 
    height:30;
}

/*colors
PBI - 527FD7
bug - D75252
Impediment - D7C152
Chore - 
*/

.indicator-pbi {
    background-color: #527FD7;
}

.indicator-bug {
    background-color: #D75252;
}

.indicator-chore {
    background-color: #666666;
}

.indicator-impediment {
    background-color: #D7C152;
}

.indicator-priority {
    border-width: 1;
    border-radius: 4;
    padding:2;
    text-align: center;
    width: 70;
}

.indicator-priority.critical {
    color: #820101;
    background-color: #ffc9c9;
    border-color: #820101;
}

.indicator-priority.high {
    color: #b27100;
    background-color: #ffe4b7;
    border-color: #b27100;
}

.indicator-priority.medium {
    color: #0c6d00;
    background-color: #cfffc9;
    border-color: #0c6d00;
}

.indicator-priority.low {
    color: #002b6d;
    background-color: #c1daff;
    border-color: #002b6d;
}

.task-wrapper {
    border-bottom-width: 1;
    border-bottom-color: #eeeeee;
    padding: 0;
    margin: 10;
}


.task-full {
    height: 30;
    width: 30;
    background-color: green;
}

.task-empty {
    height: 30;
    width: 30;
    border-color:green;
    border-width: 1;
}

.task-empty-new {
    height: 30;
    width: 30;
    border-color:gray;
    border-width: 1;
}

.input-field {
    border-bottom-width: 1;
    border-bottom-color: gray;
}