<ActionBar>
    <NavigationButton text="Back" android.systemIcon="ic_menu_back" (tap)="onNavBackTap()"></NavigationButton>

    <ActionItem (tap)="onActionMenuTap()" ios.position="right" android.position="popup" android.systemIcon="ic_menu_moreoverflow_normal_holo_light">
        <StackLayout class="navbar_image_wrapper" ios:horizontalAlignment="right">
            <Image src="res://icon_elipses_white"></Image>
        </StackLayout>
    </ActionItem>

    <ActionItem (tap)="onDelete()" ios.systemIcon="16" ios.position="right" text="delete" android.systemIcon="ic_menu_delete"
        android.position="actionBar"></ActionItem>


</ActionBar>

<StackLayout class="pt-item-container">

    <StackLayout class="pt-item-detail-header">
        <Label [text]="itemTitle" class="pt-item-detail-header-title"></Label>

        <SegmentedBar #sb selectedBackgroundColor="#b6cb93" [items]="myNavItems" selectedIndex="0" (selectedIndexChange)="selectedItemDetailScreenIndexChanged(sb)"></SegmentedBar>
    </StackLayout>

    <router-outlet></router-outlet>

</StackLayout>