<StackLayout class="modal-wrapper" margin="24" horizontalAlignment="center" verticalAlignment="center">
    <Label [text]="prompt"></Label>


    <StackLayout>
        <StackLayout *ngFor="let item of items" orientation="horizontal">
            <Image [src]="item.img" col="0" class="input-img"></Image>
            <Label [text]="item.title" (tap)="typeSelect(item)" col="1"></Label>
        </StackLayout>
    </StackLayout>


    <StackLayout orientation="horizontal" marginTop="12">
        <Button text="cancel" (tap)="close()"></Button>
    </StackLayout>
</StackLayout>